<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Movies MVC</title>

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>


    <div>

        <nav class="navbar  navbar-inverse bg-dark navbar-dark  ">
            <!-- Brand/logo -->

            <a class="navbar-brand" href="#"><i class="active fa fa-lg fa-home"></i> Movies MVC</a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav" mr-auto>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Movies/List"><i class="fa fa-film"> </i> Movie List</a>
                        </li>

                    }

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Directors")"><i class="fa fa-users"></i> Director List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Reviews")"><i class="fa fa-lightbulb"></i> Review List  </a>
                    </li>

                </ul>

                @*@if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                       <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "MoviesReport")><i class="fa fa-users"></i></a>

                        </li>
                    }*@

                @Html.Partial("_LoginPartial")
            </div>
        </nav>

        <div class="container body-content">

            <div class="paddingtop">

                @RenderBody()

            </div>

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Nese İlhan</p>
            </footer>
        </div>


    </div>


    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@


    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    @RenderSection("scripts", required: false)

    <script>
        $(".navbar-collapse a").click(function () {
            $(".navbar-collapse").collapse("hide");
        });
    </script>

</body>

</html>
