<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Movies MVC</title>

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    @*<link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
            <link href="~/Content/Site.css" rel="stylesheet" />
        @Styles.Render("~/Content/font-awesome")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@



</head>
<body>


    <div class="container">

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="~/"><i class="fa fa-lg fa-home"></i>Movies MVC</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav" mr-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item active">
                            <a class="nav-link" href="~/Movies/List"><i class="fa fa-film"> </i>Movie List</a>

                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Directors")"><i class="fa fa-users"></i> Director List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Reviews")"><i class="fa fa-lightbulb"></i> Review List</a>
                    </li>

                    @*@if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                       <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "MoviesReport")><i class="fa fa-users"></i></a>

                        </li>
                    }*@

                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </nav>

        <div class="container body-content">

            <div class="paddingtop">

                @RenderBody()

            </div>

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Nese İlhan</p>
            </footer>
        </div>


    </div>


    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>

    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/bootstrap.min.js"></script>


    @RenderSection("scripts", required: false)

</body>
</html>
