@model List<ReviewModel>
@{
    ViewBag.Title = "Review List";
}
<link href="~/Content/alertify.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2>Review List</h2>

<p>
    <a href="@Url.Action("Create") title="Create New Review"><i class="fa fa-plus"></i> New Review</a>
    @*@Html.ActionLink("New Review", "Create")*@
</p>

@if (Model != null && Model.Count > 0)
{

    <h5 class="text-secondary">@Model.Count reviews found.</h5>


    using (@Html.BeginForm("Delete", "Reviews", FormMethod.Post, new { id = "fReviews" }))
    {
        @Html.AntiForgeryToken()

        @Html.Hidden("id", null, new { id = "hfReviewId" })


        <table id="reviews" class="display" style="width: 100%;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Movie.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Reviewer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Rating)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().DateText)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Content)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Movie.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reviewer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td style="width: 8%; text-align: right;">
                            <i class="fa fa-pencil-square-o"></i> @Html.ActionLink("Edit", "Edit", new { @class = "fa fa - plus" }) 
                            <i class="fa fa-info-circle"></i>  @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                            <i class="fa fa-trash"></i>  @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "aDelete", id = item.Id })

                        </td>
                    </tr>

                }

            </tbody>
        </table>
    }
}
else
{
    <p class="text-secondary">No reviews found.</p>
}
@section scripts
{
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>



    <script>
        $(document).ready(function () {
            $("#reviews").DataTable({
                "language": {

                }
            });
            $(".aDelete").click(function (event) {
                event.preventDefault();

                var clickedLink = $(this); //tıklanılan linki getirir
                console.log(clickedLink);

                var clickedLinkId = clickedLink.prop("id");
                console.log(clickedLinkId);

                var clikedLinkHref = clickedLink.prop("href");
                console.log(clikedLinkHref);
                clickedLinkHref = clickedLink.attr("href");
                console.log(clickedLinkHref);


                var clickedlinkhrefArray = clickedLinkHref.split('/');
                clickedLinkHref = clickedlinkhrefArray[3];
                console.log(clickedLinkId);

                $('#hfReviewId').val(clickedLinkId);

                alertify.confirm("Delete Review", "Are you sure you want to delete this review",
                    function () { //OK fonksiyonu

                        $('#fReviews').submit();
                    },
                    function () { //Cancel fonksiyonu


                    }).set("labels", { ok: "Yes", cancel: "No" });


            });
        });
    </script>

}
