@model List<MovieModel>

@{ ViewBag.Title = "Movie List"; }

<h2>@ViewBag.Title</h2>

<h5 class="text-secondary">@Model.Count movies found.</h5>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
@Html.ActionLink("New Movie", "Create")}

@if (TempData["Message"] != null)
{
<p class="text-secondary">
    @TempData["Message"]


    
</p>
}
<a href="/Movies/Create"> <i class="fa fa-plus"></i> New Movie</a>
<table class="table">

    
    <tr>
        <th>
            Name
        </th>
        <th>
            Production Year
        </th>
        <th>
            Box Office Return
        </th>
        <th>
            Directors
        </th>

    </tr>
    @foreach (MovieModel movie in Model)
    {
<tr>
    <td>
        @movie.Name
    </td>
    <td>
        @movie.ProductionYear
    </td>
    <td>
        @movie.BoxOfficeReturn
    </td>

    <td>

        @{ string directors = "";
            foreach (DirectorModel director in movie.Directors)
            {
                directors += "<i>" + director.Name + " " + director.Surname + "</i><br />";
            } }
        @Html.Raw(directors)
    </td>


    <td>

  
        <i class="fa fa-pencil-square-o"></i> @Html.ActionLink("Edit", "Edit", new { id = movie.Id, @class = "fa fa-pencil-square-o" })   |
        <i class="fa fa-info-circle"></i>  @Html.ActionLink("Details", "Details", new { id = movie.Id }) |
        <i class="fa fa-trash"></i>  @Html.ActionLink("Delete", "Delete", new { id = movie.Id })
    </td>

</tr>}
</table>
@*</div>*@

